# Chaster API Token
# Obtén tu token en: https://chaster.app/settings/api
CHASTER_TOKEN=tu_token_aqui

CHASTER_EXTENSION_TOKEN=tu_token_aqui

# Telegram Bot Token
# Créalo con @BotFather en Telegram
TELEGRAM_BOT_TOKEN=tu_bot_token_aqui

# Tu Chat ID de Telegram
# Consíguelo escribiéndole a @userinfobot
TELEGRAM_CHAT_ID=tu_chat_id_aqui

# Groq API Key
# Obtén la tuya en: https://console.groq.com
GROQ_API_KEY=gsk_tu_key_aqui
